services:
     php-oop-exercice:
          container_name: php-oop-exercice
          build: .
          ports:
               - 8888:80
          depends_on:
              - php-oop-exercice-db
     php-oop-exercice-db:
          container_name: php-oop-exercice-db
          image: mysql:latest
          restart: unless-stopped
          environment:
               MYSQL_DATABASE: 'db'
               MYSQL_USER: 'user'
               MYSQL_PASSWORD: 'password'
               MYSQL_ROOT_PASSWORD: 'password'
          ports:
               - 3306:3306
          volumes:
               - ./mysql:/var/lib/mysql
               - ./app/mysql/blog.sql:/docker-entrypoint-initdb.d/blog.sql
